<!DOCTYPE html>
<html>
  <head>
    <title>Deeothen Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
        margin-bottom: 10px
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      <img class="img-fluid" id="banner" src = "/static/banner.jpg" >
      <h1 class="text-center mt-4 mb-4">{{company_name}} Job Openings</h1>
      <div class="row" style="margin-bottom:16px">
        <div class="col-md-6"
      <p class="lead">
        Nuair a smaoinicheas daoine mu bhith a’ cleachdadh inntleachd fuadain (AI) airson sgrìobhadh, leumaidh iad sa bhad gu artaigilean 1500-word agus puist fhada air na meadhanan sòisealta. Agus tha, is iad sin cùisean cleachdaidh as urrainn do luchd-cuideachaidh sgrìobhaidh AI cuideachadh le.Ach chan eil ann ach bloigh de na as urrainn don teicneòlas seo a dhèanamh.Bidh gineadair paragraf àrd-inbhe ag atharrachadh a h-uile duine san sgioba agad gu bhith na sgrìobhadair làidir agus le deagh thuigse. A-nis faodaidh duine sam bith susbaint fiosrachail, tarraingeach agus ìmpidheach a chruthachadh aon pharagraf aig an aon àm - ge bith an ann a’ freagairt stiùir tro phost-d no a ’cruthachadh pìos ceannais smaoineachaidh airson a dhol viral. Sin as coireach, ann am mionaid, gun seall sinn dhut mar a chleachdas tu gineadair paragraf Cop.aiI gus maoin teacsa sam bith a dh’ fheumas tu a thogail.
      </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="/static/people.jpg" style="height:320px;border-radius:4px">
        </div>
        </div>
      <h2 class="text-center mt-4 mb-3">Open Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <a href="mailto:deeothenteecation@yahoo.com?subject=Questions%20About%20Job%20Openings&body=My%20name%20%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20question%2Fs%20%3A%20%3Center%20question%2Fs%20here%3E" class="btn btn-primary btn-lg">Contact Us</a>
      {% include 'footer.html' %}
      </div>
    </div>
  </body>
</html>