<!DOCTYPE html>
<html>
  <head>
    <title>Deeothen Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Deeothen Careers">
    <meta name="keywords" content="Deeothen, Careers, Job Openigs, Open Positions">
    <meta name="author" content="Deeothen T. Cation">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
        margin-bottom: 10px
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      <img class="img-fluid" id="banner" src = "/static/banner.jpg" >
      <h1 class="text-center mt-4 mb-4">{{company_name}} Job Openings</h1>
      <div class="row" style="margin-bottom:16px">
        <div class="col-md-6"
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In posuere eu magna sit amet congue. Fusce tristique felis ligula. Praesent aliquet libero vel massa pulvinar molestie. Fusce elementum luctus lacus, mattis tempus erat pretium sit amet. Nunc egestas libero non odio accumsan, in rutrum purus tempus. Mauris eu semper nisl, quis gravida neque. Morbi ac nunc ipsum. Duis erat lorem, rhoncus quis tempus vitae, cursus non nisi. Nam at lorem sit amet nulla lacinia convallis. Etiam commodo laoreet lectus et accumsan. Nullam leo lorem, dictum ac odio a, suscipit scelerisque erat. Morbi rutrum ex nisl, non euismod velit rhoncus nec. Etiam condimentum ex vitae erat varius facilisis.Praesent non augue id orci vestibulum venenatis vitae vitae nisl. Pellentesque a eros et leo egestas luctus. Donec gravida neque sed magna lobortis suscipit. Donec hendrerit vitae diam nec luctus. Aliquam lobortis massa eget mauris vulputate eleifend. Mauris porttitor magna ut augue consectetur vehicula.
      </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="/static/people.jpg" style="height:320px;border-radius:4px">
        </div>
        </div>
      <h2 class="text-center mt-4 mb-3">Open Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <a href="mailto:deeothenteecation@yahoo.com?subject=Questions%20About%20Job%20Openings&body=My%20name%20%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20question%2Fs%20%3A%20%3Center%20question%2Fs%20here%3E" class="btn btn-primary btn-lg">Contact Us</a>
      {% include 'footer.html' %}
      </div>
    </div>
  </body>
</html>
